body {
  font-family: 'Lato', sans-serif;
  padding: 50px;
  background: url("")
}

img{
  height: 90%;
  width: 90%;
  border-radius: 5px;
  border: 3px solid rgba(255,255,255, .513);
 }

#go-button,
.my-btn {
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
}

.appended-response {
  color: red;
}

.glyphicon-heart {
  font-size: 25px;
}

#backgrounds{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgba(255,255, 255, .4);
  border-radius: 5px;
  padding-top: 1em;
  padding-bottom: 1em;
  border: 3px solid white;
}

#img-containerID{
  padding: 1em;
  width: 30vw;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}

button{
  background: rgba(255,255,255, .9);
  border-radius: 5px;
  padding: .5em;
  text-transform: uppercase;
  letter-spacing: .07em;
  margin-top: 2%;
  border: 1px solid rgba(255,255,255, .513);

}

button:hover{
    border: 1px solid #ff6666;
    background: rgba(255,255,255, .7);

}
